<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>LinkChat</title>
</head>
<body>
    <h1 class="Main-Heading">LINK CAM</h1>
    <p class="Intro-Para" id="IntroPara">Gesture not detected (￣o￣) . z Z</p>
    <button class="debugButton" onclick="getPerm()">Permission</button>
    <video id="video" class="video" src="/static/video/explosion_small.mp4" type="video/mp4"></video>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
